@use '../1-base/variables';
@use '../3-modules/mixins';

%container {
    margin: 0 auto;
    padding: 0.75rem;

    @include mixins.sm {
        padding: 1rem;
    }
    @include mixins.md {
        max-width: 48rem;
    }
    @include mixins.lg {
        max-width: 64rem;
    }
    @include mixins.xl {
        max-width: 80rem;
    }
    @include mixins.xl2 {
        max-width: 96rem;
    }
}
