@use 'variables';
@use '../3-modules/mixins';

* {
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: variables.$white;
    text-decoration: none;
    @include mixins.sm {
        letter-spacing: 2px;
    }
}

.body {
    background-color: variables.$primary-color;
    height: 900vh;
}
