@use 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: variables.$white;
    text-decoration: none;
    letter-spacing: 1px;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: variables.$primary-color;
    overflow: hidden;
    height: 900vh;
}
