@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
}
@media screen and (min-width: 40rem) {
  * {
    letter-spacing: 2px;
  }
}

body {
  background-color: #2d2e31;
}

.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  font-size: 2rem;
  background-color: #444444;
  border-radius: 8px;
}
.settings i {
  color: #949494;
  transition: 0.6s ease;
  cursor: pointer;
}

.teste {
  display: flex;
  width: 40rem;
  height: 40rem;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
}

.settings_fade {
  display: none;
  height: 100%;
  width: 100%;
}

.main__container, .header__container {
  margin: 0 auto;
  padding: 0 0.75rem;
}
@media screen and (min-width: 48rem) {
  .main__container, .header__container {
    max-width: 48rem;
    padding: 0 0.6rem;
  }
}
@media screen and (min-width: 64rem) {
  .main__container, .header__container {
    max-width: 64rem;
    padding: 0 0.45rem;
  }
}
@media screen and (min-width: 96rem) {
  .main__container, .header__container {
    max-width: 80rem;
    padding: 0 0.3rem;
  }
}
@media screen and (min-width: 96rem) {
  .main__container, .header__container {
    max-width: 96rem;
  }
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #25262a;
  border-bottom: 1px solid gray;
}
@media screen and (min-width: 96rem) {
  .header {
    box-shadow: 0 4px 4px #25262a;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.25rem;
}
@media screen and (min-width: 96rem) {
  .header__container {
    justify-content: space-around;
    padding: 1.5rem 0;
  }
}
@media screen and (min-width: 96rem) {
  .header__container .header__title {
    padding: 0;
    font-size: 1.65rem;
  }
}
.header__container .header__title h1 > a {
  transition: color 0.2s;
}
.header__container .header__title h1 > a:hover {
  color: #f2542d;
}
.header__container .header__menu {
  font-size: 1.75rem;
  cursor: pointer;
}
@media screen and (min-width: 96rem) {
  .header__container .header__menu {
    display: none;
  }
}
.header__container .header__links {
  height: calc(100vh - 5.05rem);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5.05rem;
  padding: 0 1rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #25262a;
  border-top: 1px solid gray;
  transform: translateX(100%);
  transition: 0.5s ease;
}
@media screen and (min-width: 64rem) {
  .header__container .header__links {
    width: 50vw;
    border-top: none;
    border-left: 1px solid gray;
  }
}
@media screen and (min-width: 96rem) {
  .header__container .header__links {
    height: auto;
    width: 50.988375rem;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    position: static;
    z-index: auto;
    border-left: none;
    transform: translate(0);
  }
}
.header__container .header__links h2 {
  font-size: 1.75rem;
}
@media screen and (min-width: 48rem) {
  .header__container .header__links h2 {
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 96rem) {
  .header__container .header__links h2 {
    font-size: 1.75rem;
  }
}
.header__container .header__links .header__navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin: 5rem 0;
}
@media screen and (min-width: 96rem) {
  .header__container .header__links .header__navigation {
    flex-direction: row;
    margin: 0;
  }
  .header__container .header__links .header__navigation h2 {
    display: none;
  }
}
.header__container .header__links .header__navigation a {
  padding-top: 0.5rem;
  padding-bottom: calc(0.5rem - 2px);
  font-size: 1.15rem;
  border-bottom: 2px solid transparent;
  transition: color 0.2s, border-bottom 0.4s;
}
.header__container .header__links .header__navigation a:hover {
  color: #f2542d;
  border-bottom: 2px solid #f2542d;
}
@media screen and (min-width: 48rem) {
  .header__container .header__links .header__navigation a {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 96rem) {
  .header__container .header__links .header__navigation a {
    font-size: 1.15rem;
  }
}
.header__container .header__links .header__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media screen and (min-width: 96rem) {
  .header__container .header__links .header__contacts {
    flex-direction: row;
  }
}
.header__container .header__links .header__contacts span {
  display: none;
}
@media screen and (min-width: 96rem) {
  .header__container .header__links .header__contacts span {
    display: inline;
  }
}
.header__container .header__links .header__contacts div {
  display: flex;
  gap: 1.25rem;
}
.header__container .header__links .header__contacts div i {
  font-size: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .header__container .header__links .header__contacts div i {
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 96rem) {
  .header__container .header__links .header__contacts div i {
    font-size: 1.5rem;
  }
}
.header__container .header__links .header__contacts div i:hover {
  animation: expand 0.5s linear infinite alternate;
}
@keyframes expand {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}
.header__container .header__links .header__contacts div .fa-linkedin,
.header__container .header__links .header__contacts div .fa-envelope,
.header__container .header__links .header__contacts div .fa-whatsapp {
  transition: color 0.2s;
}
.header__container .header__links .header__contacts div .fa-linkedin:hover {
  color: #0e76a8;
}
.header__container .header__links .header__contacts div .fa-envelope:hover {
  color: #f2542d;
}
.header__container .header__links .header__contacts div .fa-whatsapp:hover {
  color: #25d366;
}
.header__container .menuIsActivated {
  transform: translateX(0);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6.75rem;
}
@media screen and (min-width: 48rem) {
  .main {
    margin-top: 7.75rem;
  }
}
@media screen and (min-width: 96rem) {
  .main {
    margin-top: 9.75rem;
  }
}
.main__container .main__apresentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.25rem;
}
@media screen and (min-width: 64rem) {
  .main__container .main__apresentation {
    gap: 3.25rem;
    flex-direction: row;
  }
}
.main__container .main__apresentation .main__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
@media screen and (min-width: 64rem) {
  .main__container .main__apresentation .main__content {
    gap: 1.25rem;
  }
}
@media screen and (min-width: 96rem) {
  .main__container .main__apresentation .main__content {
    gap: 1.5rem;
  }
}
.main__container .main__apresentation .main__content h1 {
  font-size: 1.75rem;
}
.main__container .main__apresentation .main__content h1 strong {
  color: #f2542d;
}
.main__container .main__apresentation .main__content a {
  width: 80%;
  padding: 0.75rem 0;
  background-color: #f2542d;
  border-radius: 8px;
  transition: background-color 0.4s;
}
.main__container .main__apresentation .main__content a:hover {
  background-color: #c6310c;
}
@media screen and (min-width: 64rem) {
  .main__container .main__apresentation .main__content a {
    width: 60%;
    padding: 1rem 0;
  }
}
.main__container .main__apresentation .main__code {
  width: 100%;
  display: flex;
  flex-direction: column;
  line-height: 1.2rem;
  letter-spacing: 2px;
  background-color: #23272e;
  border: 2px solid black;
  border-radius: 16px;
}
.main__container .main__apresentation .main__code .code__header {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid black;
}
.main__container .main__apresentation .main__code .code__header div {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}
.main__container .main__apresentation .main__code .code__header div:nth-child(1) {
  background: #ff5f5a;
}
.main__container .main__apresentation .main__code .code__header div:nth-child(2) {
  background-color: #ffbe2e;
}
.main__container .main__apresentation .main__code .code__header div:nth-child(3) {
  background-color: #2aca44;
}
.main__container .main__apresentation .main__code .code__body {
  display: flex;
  gap: 0.75rem;
  padding: 0.75rem;
}
.main__container .main__apresentation .main__code .code__body .code__lines {
  display: none;
}
@media screen and (min-width: 64rem) {
  .main__container .main__apresentation .main__code .code__body .code__lines {
    display: flex;
    flex-direction: column;
    text-align: right;
  }
  .main__container .main__apresentation .main__code .code__body .code__lines span {
    color: gray;
  }
}
@media screen and (min-width: 64rem) and (min-width: 96rem) {
  .main__container .main__apresentation .main__code .code__body .code__lines span:nth-child(21) {
    display: none;
  }
}
@media screen and (min-width: 64rem) and (min-width: 96rem) {
  .main__container .main__apresentation .main__code .code__body .code__lines span:nth-child(22) {
    display: none;
  }
}
@media screen and (min-width: 64rem) and (min-width: 96rem) {
  .main__container .main__apresentation .main__code .code__body .code__lines span:nth-child(23) {
    display: none;
  }
}
.main__container .main__apresentation .main__code .code__body .code__content .code__declaration {
  color: #b770cd;
}
.main__container .main__apresentation .main__code .code__body .code__content .code__title {
  display: inline;
  font-size: 1rem;
  color: #d5b375;
}
.main__container .main__apresentation .main__code .code__body .code__content .code__assignment {
  color: #4a95a1;
}
.main__container .main__apresentation .main__code .code__body .code__content .code__keys {
  color: #9ba2ae;
}
.main__container .main__apresentation .main__code .code__body .code__content .code__properties {
  margin-left: 1.5rem;
  color: #db6a73;
}
.main__container .main__apresentation .main__code .code__body .code__content .code__values {
  color: #98c379;
}
.main__container .main__apresentation .main__code .code__body .code__content .code__values--noString {
  color: #b2865c;
}
.main__container .main__apresentation .main__code .code__body .code__content .code__values--block {
  color: #98c379;
  display: block;
  margin-left: 3rem;
}
.main__container .main__apresentation .main__code .code__body .code__content .code__commas {
  color: #9ba2ae;
}
.main__container .main__apresentation .main__code .code__body .code__content .code__brackets {
  color: #9ba2ae;
}
.main__container .main__apresentation .main__code .code__body .code__content .code__brackets:last-child {
  margin-left: 1.5rem;
}
.main__container .main__apresentation .main__code .code__body .code__content .code__valueArray {
  display: block;
  margin-left: 3rem;
}

/*# sourceMappingURL=styles.css.map */
