@use '../../1-base/variables';
@use '../../3-modules/mixins';

// ALL MEDIAS

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: variables.$secondary-color;

    @include mixins.xl- {
        box-shadow: 0 4px 4px variables.$secondary-color;
    }

    &__container {
        padding: 1.5rem 1.25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mixins.xl- {
            padding: 1.5rem 0;
            justify-content: space-around;
        }
    }

    &__title {
        h1 > a {
            transition: color 0.2s;
            &:hover {
                color: variables.$color-link;
            }
        }
        @include mixins.xl- {
            padding: 0;
            font-size: 1.65rem;
        }
    }

    &__menu {
        font-size: 1.75rem;
        cursor: pointer;

        @include mixins.xl- {
            display: none;
        }
    }

    // MOBILE

    &__mobile {
        height: 100vh;
        width: 60vw;
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        transition: 0.5s ease;
        transform: translateX(100%);
        background-color: variables.$secondary-color;

        @include mixins.xl- {
            display: none;
        }
        @include mixins.md {
            width: 35vw;
        }

        .mobile__navigation {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;

            a {
                padding-top: 0.5rem;
                padding-bottom: calc(0.5rem - 2px);
                font-size: 1.15rem;
                border-bottom: 2px solid transparent;
                transition: color 0.2s, border-bottom 0.4s;
                &:hover {
                    color: variables.$color-link;
                    border-bottom: 2px solid variables.$color-link;
                }
            }
        }

        .mobile__contacts {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            div {
                display: flex;
                gap: 1.25rem;

                i {
                    font-size: 1.5rem;
                    &:hover {
                        animation: expand 0.5s linear infinite alternate;
                    }

                    @keyframes expand {
                        0% {
                            transform: scale(1);
                        }
                        100% {
                            transform: scale(1.15);
                        }
                    }
                }

                .fa-linkedin,
                .fa-envelope,
                .fa-whatsapp {
                    transition: color 0.2s;
                }

                .fa-linkedin {
                    &:hover {
                        color: #0e76a8;
                    }
                }

                .fa-envelope {
                    &:hover {
                        color: variables.$color-link;
                    }
                }

                .fa-whatsapp {
                    &:hover {
                        color: #25d366;
                    }
                }
            }
        }
    }

    .is-active {
        visibility: initial;
        transform: translateX(0);
    }

    // Desktop

    &__navigation {
        display: none;

        @include mixins.xl- {
            display: flex;
            justify-content: center;
            gap: 2.5rem;

            a {
                padding-top: 0.5rem;
                padding-bottom: calc(0.5rem - 2px);
                font-size: 1.15rem;
                border-bottom: 2px solid transparent;
                transition: color 0.2s, border-bottom 0.4s;
                &:hover {
                    color: variables.$color-link;
                    border-bottom: 2px solid variables.$color-link;
                }
            }
        }
    }

    &__contacts {
        display: none;

        @include mixins.xl- {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;

            div {
                display: flex;
                justify-content: center;
                gap: 1.5rem;

                i {
                    font-size: 1.5rem;
                    &:hover {
                        animation: expand 0.5s linear infinite alternate;
                    }

                    @keyframes expand {
                        0% {
                            transform: scale(1);
                        }
                        100% {
                            transform: scale(1.15);
                        }
                    }
                }

                .fa-linkedin,
                .fa-envelope,
                .fa-whatsapp {
                    transition: color 0.2s;
                }

                .fa-linkedin {
                    &:hover {
                        color: #0e76a8;
                    }
                }

                .fa-envelope {
                    &:hover {
                        color: variables.$color-link;
                    }
                }

                .fa-whatsapp {
                    &:hover {
                        color: #25d366;
                    }
                }
            }
        }
    }
}
